<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <h1 class="adm-header">Welcome, Bakari</h1>
            <p class="adm-email">bakari@gmail.com</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row box-div">
        <div class="col-md-6 col-sm-12 box first-box"></div>
        <div class="col-md-6 col-sm-12 box"></div>
        <div class="col-md-6 col-sm-12 box"></div>
        <div class="col-md-6 col-sm-12 box last-box"></div>
    </div>
</div>