<div class="container-fluid d-flex">
    <div class="container left-menu">
        <a href="#" class="mt-3"><img src="/img/logo.svg" class="dash-logo"></a>
    </div>

    <div class="container"></div>

    <div class="container right-menu">
        <div class="container d-flex flex-row">
            <span>dgs</span>
            <span><i class='fa fa-autoprefixer' style="font-size: 1rem;"></i></span>
            <span></span>
        </div>
    </div>
</div>