<div class="container-fluid dash-main">
    <div class="container left-menu">
        <a href="#" class="mt-3"><img src="/img/logo.svg" class="dash-logo"></a>
        <div class="container left-bottom">
            <i class="fa fa-home" aria-hidden="true"></i>
            <i class="fa fa-file-upload" aria-hidden="true"></i>
            <i class="fa fa-file-clipboard" aria-hidden="true"></i>
            <i class="fa fa-file-export" aria-hidden="true"></i>
            <i class="fa fa-file-edit" aria-hidden="true"></i>
        </div>
        <div class="container setting-div">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
    </div>

    <div class="container-fluid center-content">
        <div class="container top-welcome">
            <div class="container">
                <p>Welcome, Bakari Kilu </p>
            </div>
            <div class="container"></div>
        </div>
    </div>

    <div class="container right-menu">
        <div class="container top-div">
            <span>dgs</span>
            <i class='fa fa-bell'></i>
            <span><img src="/img/day.jpg" class="profile-pic"></span>
        </div>

        <div class="container bottom-div">
            <div class="container bottom-div-1"></div>
            <div class="container bottom-div-2"></div>
        </div>
    </div>
</div>