<div class="container-fluid">
    <div>
        <h3 class="registered-header">My registered Lands</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 land-item">

        </div>
    </div>
</div>